<!--  <ion-view title='<img class="title-image" src="img/dada.jpg" /> रसाळ दिनदर्शिका <img class="title-image" src="img/dada.jpg"  />'> -->
<ion-view title="卐 रसाळ दिनदर्शिका 卐" animation="slide-left-right">
        <ion-content>
        <div ng-controller='CalTabCtrl'>
        	<br>
          <div class="calendar" id="calendar" ng-model="eventSources" ui-calendar="calOptions"></div>
      </div>
   
        </ion-content>
       
      </ion-view>
      <span class="load">Hello</span>

      
        <!-- Event Click MODAL -->
<script id="event-modal.html" type="text/ng-template">
<div class="modal" style="background-color:#ffffe5">
<ion-header-bar class="bar-stable">
<h1 class="title"><b>{{modalData.selectedDate}}</b></h1>
</ion-header-bar>
<ion-footer-bar style="background-color:transparent;bottom:5px">
 <div class="col text-right">
<button class="button button-icon button-clear ion-reply-all"  style="color:red;" ng-click="closeModal()">
</button>
 </div>
</ion-footer-bar>
<ion-content>
<!--<h1>
// <div ng-bind-html="modalData.eventTitle | sanitize"></div></h1>
// <h3 style="margin-left:10px;margin-right:10px">-->
<br><br>
 <div ng-bind-html="modalData.description | sanitize"></div>
<!-- </h3>-->
</ion-content>
</div>