<!--   <ion-view title='<img class="title-image" src="img/dada.jpg" /> रसाळ दिनदर्शिका <img class="title-image" src="img/dada.jpg"  />'> -->
<ion-view title="卐 रसाळ दिनदर्शिका 卐">
        <ion-content drag-content="false">
       <div class="item item-divider">
          <i class="ion-images"></i>
          आळंदी साप्ताह
        </div>

        <a class="item item-list-detail">
          <ion-scroll direction="x">
            <img ng-repeat="image in alandi_saptah" ng-src="{{image.src}}" ng-click="alandiSaptah($index)" class="image-list-thumb"/>
          </ion-scroll>
        </a>
        <div class="item item-divider">
          <i class="ion-images"></i>
        आषाढी माघ वारी २०१५
        </div>

        <a class="item item-list-detail">
          <ion-scroll direction="x">
            <img ng-repeat="image in ashadi" ng-src="{{image.src}}" ng-click="ashadiSaptah($index)" class="image-list-thumb"/>
          </ion-scroll>
        </a>

         <div class="item item-divider">
          <i class="ion-images"></i>
      जेऊर साप्ताह २०१५
        </div>

        <a class="item item-list-detail">
          <ion-scroll direction="x">
            <img ng-repeat="image in jeur_saptah" ng-src="{{image.src}}" ng-click="jeurSaptah($index)" class="image-list-thumb"/>
          </ion-scroll>
        </a>

<div class="item item-divider">
          <i class="ion-images"></i>
मान्यवर व्यक्तीनची सांप्रदायक भेट        </div>

        <a class="item item-list-detail">
          <ion-scroll direction="x">
            <img ng-repeat="image in bhakt_visit" ng-src="{{image.src}}" ng-click="bhaktVisit($index)" class="image-list-thumb"/>
          </ion-scroll>
        </a>

            </ion-content>
      </ion-view>
