<!--   <ion-view title='<img class="title-image" src="img/dada.jpg" /> रसाळ दिनदर्शिका <img class="title-image" src="img/dada.jpg"  />'> -->
<ion-view title="卐 रसाळ दिनदर्शिका 卐">
        <ion-content drag-content="false">
       <div class="item item-divider">
          <i class="ion-images"></i>
          My Images
        </div>

        <a class="item item-list-detail">
          <ion-scroll direction="x">
            <img ng-repeat="image in allImages" ng-src="{{image.src}}" ng-click="showImages($index)" class="image-list-thumb"/>
          </ion-scroll>
        </a>
            </ion-content>
      </ion-view>