<!--      <ion-view title='<img class="title-image" src="img/dada.jpg" /> रसाळ दिनदर्शिका <img class="title-image" src="img/dada.jpg"  />'>
 -->     

  <ion-view title="卐 रसाळ दिनदर्शिका 卐">
   <ion-content>
       <div>
<img class="home_img" src="img/loadImg/intro-sampraday_1	.jpg" style="width:100%"/>
        </div>
        </ion-content>
      </ion-view>
      <script type="text/javascript">
 function set_body_height() { // set body height = window height
    $('img').height($(window).height()-50);
  }
  $(document).ready(function() {
    $(window).bind('resize', set_body_height);
    set_body_height();
  });
</script>