      <ion-tabs class="tabs-icon-top tabs-positive fade-in-not-out">

        <ion-tab title="होम⁠⁠⁠⁠" icon="ion-home" href="menu.tabs.home">
          <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="दिनदर्शिका" icon="ion-calendar" ui-sref="menu.tabs.calendar">
          <ion-nav-view name="calendar-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="चित्रावली" icon="ion-images" ui-sref="menu.tabs.gallery">
          <ion-nav-view name="gallery-tab"></ion-nav-view>
        </ion-tab>

         <ion-tab title="माहिति" icon="ion-ios7-information" ui-sref="menu.tabs.info">
          <ion-nav-view name="info-tab"></ion-nav-view>
        </ion-tab>
      </ion-tabs>