<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="lib/ionic/css/ionic.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/fullcalendar.css" rel="stylesheet">
    <link rel="stylesheet" href="lib/font-awesome-4.3.0/css/font-awesome.min.css">
    
    <!-- Java Script -->
    <!-- cordova script (this will be a 404 during development) -->   
    <script src="cordova.js"></script>
    <!-- your app's js -->  
    <script src="js/jquery.min.js"></script>
    <script src="js/moment/moment.min.js"></script>
<!--    <script src="js/moment/locale/hi.js"></script>-->
    <script src="lib/ionic/js/ionic.bundle.min.js"></script>
  
    <script src="js/fullcalendar.min.js"></script>
    <script src="language/hi.js"></script>
    <script src="js/calendar.min.js"></script>  
    <script src="js/app.js"></script>

</head>
  <body ng-app="ionicApp">

    <!--HEADER  -->
    <ion-nav-bar class="bar-positive">
        <!-- <ion-nav-back-button class="button-icon ion-arrow-left-c">
        </ion-nav-back-button> -->
    </ion-nav-bar>
    <ion-nav-buttons side="left">
     <button class="button button-icon button-clear ion-navicon" ng-click="showMenu()">
     </button>
    </ion-nav-buttons>
           <!--  
              <ion-nav-buttons side="right">
              <button class="button button-icon button-clear ion-ios7-gear" ng-click="showRightMenu()">
              </button>
              </ion-nav-buttons>-->
   <ion-nav-view animation="slide-left-right"></ion-nav-view>
                  

        <!-- Event Click MODAL -->
<script id="event-modal.html" type="text/ng-template">
<div class="modal" style="background-color:#ffffe5">
<ion-header-bar class="bar-stable">
<h1 class="title"><b>{{modalData.selectedDate}}</b></h1>
<button class="button button-clear button-positive" ng-click="closeModal()"><span class="close">X</span>
</button>
</ion-header-bar>
<ion-content>
<!--<h1>
// <div ng-bind-html="modalData.eventTitle | sanitize"></div></h1>
// <h3 style="margin-left:10px;margin-right:10px">-->
<br><br>
 <div ng-bind-html="modalData.description | sanitize"></div>
<!-- </h3>-->
</ion-content>
</div>
</script>
     

<script src="js/controllers.js"></script>

  </body>

</html>
