<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="lib/ionic-material/ion-md-input.css" rel="stylesheet">
        <link href="lib/ionic-material/ionic.material.min.css" rel="stylesheet">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
        <link href="css/fullcalendar.css" rel="stylesheet">
         <link href="css/bootstrap_cal1.css" rel="stylesheet">


    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->





    </head>


  <body ng-app="ionicApp">
    
    
      <ion-side-menus>
          
          <ion-side-menu-content ng-controller="NavCtrl">
            <ion-nav-bar class="bar-positive">
              <ion-nav-back-button class="button-icon ion-arrow-left-c">
              </ion-nav-back-button>
            </ion-nav-bar>
            <ion-nav-buttons side="left">
              <button class="button button-icon button-clear ion-navicon" ng-click="showMenu()">
              </button>
            </ion-nav-buttons>
           <!--  
            <ion-nav-buttons side="right">
              <button class="button button-icon button-clear ion-ios7-gear" ng-click="showRightMenu()">
              </button>
            </ion-nav-buttons>
 -->            <ion-nav-view animation="slide-left-right"></ion-nav-view>
          </ion-side-menu-content> 
          
          <ion-side-menu side="left">
            <ion-header-bar class="bar bar-header bar-assertive">
              <h1 class="title">Left Menu</h1>
            </ion-header-bar>
            <ion-content has-header="true">
              <ul class="list animate-fade-slide-in-right">
                <li > <a class="item item-icon-left" href="#/tab/home">
    <i class="icon ion-home"></i>
    होम⁠⁠⁠⁠
  </a>
                </li>
                <li>
                  <a class="item item-icon-left" menu-close href="#/tab/facts"><i class="icon ion-person-stalker"></i>चरित्र</a>
                </li>

                <li>
                  <a class="item item-icon-left" menu-close href="#/tab/facts2">
                    <i class="icon ion-videocamera"></i>कार्यक्रम</a>
                </li>
             <li>
                  <a class="item item-icon-left" menu-close nav-clear href="#/tab/home">
                    <i class="icon ion-clipboard"></i>ग्रंथभंडार</a>
                </li>
                <li>
                  <a class="item item-icon-left" menu-close href="#/tab/facts">
                    <i class="icon ion-social-usd"></i>देणगी</a>
                </li>

                <li>
                  <a class="item item-icon-left" menu-close href="#/tab/facts2">
                    <i class="icon ion-android-call"></i>संपर्क</a>
                </li>
    
              </ul>
            </ion-content>
          </ion-side-menu>
        <!-- 
          <ion-side-menu side="right">
            <ion-header-bar class="bar bar-header bar-dark">
              <h1 class="title">Right Menu</h1>
            </ion-header-bar>
            <ion-content>
              <ul class="list">
                <li>
                  <a class="item" menu-close nav-clear href="#/search">Search</a>
                </li>
                <li>
                  <a class="item" menu-close nav-clear href="#/settings">Settings</a>
                </li>
              </ul>
            </ion-content>
          </ion-side-menu>
         -->  
        </ion-side-menus>
        <script id="event-modal.html" type="text/ng-template">
        alert("here");
<div class="modal">
<ion-header-bar class="bar-stable">
<h1 class="title"><b>{{modalData.selectedDate}}</b></h1>
<button class="button button-clear button-positive" ng-click="closeModal()">Done
</button>
</ion-header-bar>
<ion-content>
<h1>
 <div ng-bind-html="modalData.eventTitle | sanitize">HERE:</div></h1>
 <h3 style="margin-left:10px;margin-right:10px">
 <div ng-bind-html="modalData.description | sanitize">HERE:</div>
 </h3>
</ion-content>
</div>
</script>
     
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
  
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.custom.min.js"></script>
                <script src="js/moment.min.js"></script>

        <script src="js/fullcalendar.js">

        </script>
        <script src="language/hi.js">

        </script>


    <script src="lib/ionic/js/ionic.bundle.js"></script>
<script src="lib/ionic-material/ionic.material.js"></script>
<script src="lib/ionic-material/ion-md-input.js"></script>

    <script src="js/controllers.js"></script>
    <script src="js/calendar.js"></script>  
    <script src="js/app.js"></script>
  </body>

</html>
